<!-- Autofill input for planets to pick from -->
<input class="inputCls" type="text" name="select plenet" placeholder="Select Planet" 
list="datalist" [(ngModel)]="sPlanet" (ngModelChange)="fnSetSelectedPlanet()">

<!-- Data list for input -->
<datalist name="" id="datalist">
  <ng-container *ngFor="let planets of oPlanetList">
    <option *ngIf="planets.isActive === false" (ngModelChange)="fnDoSomething()">{{planets.name}}</option>
  </ng-container>
</datalist>

<!-- Vehicle Component -->
<app-planetvehicles *ngIf="sPlanet !== ''" [oVehicleList] = "oVehicleList" [oSelectedPlanet] ="oSelectedPlanet"
[sDummy] = "sDummy"></app-planetvehicles>