<!-- Autofill input for planets to pick from -->
<input class="inputCls" type="text" name="select plenet" placeholder="Select Planet" 
list="datalist" [(ngModel)]="sPlanet" (ngModelChange)="fnSetSelectedPlanet()">

<!-- Data list for input -->
<datalist name="" id="datalist">
  <ng-container *ngFor="let planets of oPlanetList">
    <option *ngIf="planets.isActive === false" (ngModelChange)="fnDoSomething()">{{planets.name}}</option>
  </ng-container>
</datalist>

<!-- Space vehicles to pick from -->
<div class="vehiclesListCls" *ngIf="sPlanet !== ''">
  <div *ngFor="let vehicles of oVehicleList; let i = index">
    <input type="radio" [name]="sDummy" [value]="vehicles.name" [disabled]="fnDisableInput(vehicles)"
    (click)="fnVehicles(i)">{{vehicles.name}}({{vehicles.total_no}})
  </div>
</div>