<!-- HTML for Picking a planet -->
<section class="app-ff-rootlayot">

        <p class="app-ff-planetinfo">Select Planet you want to select</p>

        <section class="app-ff-planetsParent" *ngFor="let i of sDummyArray">
                <app-findingfalcone class="app-ff-planets" [oPlanetList]="aPlanets" [oVehicleList]="aVehicles" [sDummy]="sDummyArray[i]"></app-findingfalcone>
        </section>

        <app-time-component class="app-ff-timetaken"></app-time-component>

        <button class="app-ff-button" (click)="getPostData()">Find Falcone</button>

</section>